.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space between items */
}

.movie-card {
  width: calc(25% - 20px); /* Adjust width to fit four items in a row with 20px gap between them */
  margin-bottom: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
}

.movie-card img {
  width: 70%;
  height: auto;
}

.movie-details {
  padding: 10px;
}
